page-home {
    ::-webkit-scrollbar { display: none; };

    .scroll-content{
        padding-left: 5px;
        padding-right: 5px;
    }

    .swiper-pagination-bullet-active {
        background:  color($colors, primary);
    }
}
