kanbanboard {
    ion-slide{
        display: block !important;
        align-items: unset !important;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
      }

      .item-md.item-block .item-inner {
        border: 0px;
        padding: 0px;
    }
}
