<!-- Generated template for the KanbanboardComponent component -->

<ion-slides effect = "slide">
  <ion-slide *ngFor="let column of board.columns">
      <kanbancolumn [column] = column (move)=moveCard($event) ></kanbancolumn>
  </ion-slide>
</ion-slides>

<ion-fab right bottom>
  <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
  <ion-fab-list side="left">
    <button ion-fab (click)=onAddCard(board)><ion-icon name="checkbox"></ion-icon></button>
    <button ion-fab (click)=onAddColumn(board)><ion-icon name="book"></ion-icon></button>
  </ion-fab-list>
</ion-fab>