page-welcome {
    .list-md .item-block .item-inner{
        border: 0px;
    }

    .list-ios .item-block .item-inner{
        border: 0px;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border: 0px;
    }
}