<!-- Generated template for the KanbancardComponent component -->
<ion-card>
  <ion-card-header>
    {{card.title}}
  </ion-card-header>
  <ion-card-content *ngIf="card.content">
    {{card.content}}
  </ion-card-content>
  <ion-row>
      <ion-col col-5>
          <button ion-button clear small full (click)="onBackwardClicked()"><ion-icon name="arrow-back"></ion-icon></button>
        </ion-col>
        <ion-col col-2>
          <button ion-button clear small full>
              {{card.timeEstimate}}
              <ion-icon name="stopwatch" style="margin-left:10px;"></ion-icon>
          </button>
        </ion-col> 
        <ion-col col-5>
          <button ion-button clear small full (click)="onForwardClicked()"><ion-icon name="arrow-forward"></ion-icon></button>
        </ion-col>
  </ion-row>
</ion-card>
